/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Start of CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of CSS Reset */

/* Body Styling */

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
  /* border: 3px solid blue; */
  align-items: center;
}

section {
  border: 3px solid #000;
  width: 350px;
  height: 350px;
  margin: 3.5px;
}

div {
  align-items: center;
  justify-content: center;
}
footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  padding-bottom: 2%;
  padding-left: 2%;
  font-size: 1rem;
  height: 30px;
  text-align: center;
}

span {
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 800px) {
  main {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  section {
    width: 350px;
    align-self: center;
  }
}

@media (max-width: 359px) {
  main {
    width: 100%;
    /* height: 100vh; */
  }
  div {
    width: 100%;
    margin: 0 5px;
  }
  section {
    width: 100%;
    height: 350px;
    align-self: center;
  }
  footer {
    margin-top: 15px;
    padding-top: 10px;
  }
}
