/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Start of CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of CSS Reset */
#sale-header {
  width: 100%;
  background-color: #367d59;
  height: 150px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
header {
  display: flex;
  flex-direction: column;
  height: 750px;
  font-family: Futura PT, Trebuchet MS, Arial, system-ui;
  
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.25rem;
  padding-bottom:100px;
  background-color: #ff8c70;
  color: #fff;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  padding-left: 1.25rem;
}

.mobile-menu {
  display: none;
}

#logo {
  font-weight: bold;
  font-family: "Tienne", serif;
  font-size: 2.5rem;
  color: #fff;
}
#shop-now {
  width: 125px;
  border-radius: 10px;
  background-color: #367d59;
  height: 50px;
  color: white;
  margin-left: 15%;
}
#right-side-nav {
  display: flex;
  flex-direction: row;

  width: 300px;
  justify-content: space-around;
 
}
#login {
  gap: 3px;
  margin-top: 15px;
  color: #fff;
}
main {
  display: flex;
  flex-direction: row;
  gap: 50px;
 
  
  width: 100%;
  background-color: #ff8c70;
}
#tagline {
  font-family: Gelica, Georgia, system-ui;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: 0.025em;
  font-weight: bold;
  width: 1rem;

  margin-left: 15%;
  margin-top: 2.5%;
  color: #fff;
}
#desc {
  font-family: Futura PT, Trebuchet MS, Arial, system-ui;
  line-height: 1.35;
  letter-spacing: 0.10rem;
  width: 35%;
  margin-left: 15%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  color: #fff;
}
#right-main-img {
  height: 500px;
  width: 600px;
}
#rating-img {
  display: block;
  width: 210px;
  height: 55px;
  
  margin-left: 15%;
   padding-top: 50px;
}

.main-content {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
}

.main-content-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.box-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.box-content {
  font-size: 16px;
  text-align: center;
}

.box-img {
  width: 100px;
  height: auto;
}

/* How it works */



 .body-box {
  display: flex;
  max-height: 80vh;
  max-width: 80vw;
  margin: 20px auto;
  
  /* align-items: center; */
  /* justify-content: center; */
}

.body-img {
  /* display: inline-block; */
  /* width: 45%; */
  /* vertical-align: top; */
  /* justify-self: end; */
  width: 50%;
}


.wildimage {
  width: 100%;
  height: auto;
  /* margin-right: 20px; */
} 



.body-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.body-item img {
  margin-right: 10px;
}

.body-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.body-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.main-body-title {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 36px;
}

.leaf-img {
  width: 30px;
  height: auto;
}

.body-content {
  margin-top: 0;
}

li {
  list-style: none;
} 


.wild-cover-bottom-img {
 width: 150px;
 padding-right: 50px;
}

/* On the grapevine */

.grapevine-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px
}

.grapevine-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 80%;
}

.grapevine-title {
  margin-top: 30px;
  font-size: 36px;
  font-weight: bold;
}

.trustpilot-logo {
  width: 200px;
}

img .green-stars{
  max-width: 100%;
  max-height: 100%;
}

.green-stars {
  max-width: 200px;
  display: block;
  height: auto;
  margin: 0 auto;
}

.trustpilot {
 text-align: center;
}

.excellent {
  margin-top: 0;
  margin-top: 30px;
}

.excellent-review {
  margin-bottom: 0;
}

.trustpilot-logo {
  width: 150px;
  height: auto;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}


.boxes-container{
  display: flex;
  align-items: center;
}


.green-stars-review{
  max-width: 100px;
  max-height: 100%;
  margin: 20px auto 0;
  align-items: center;
  display: flex;
  position: absolute;
  margin-left: 30px;
}

img .green-stars-review{
  
}

.review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  text-align: center;
  margin-top: 20px;
}

.review-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.review-posted {
  margin: 10px;
  font-size: 14px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  font-style: oblique;
}

.review-bio {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}





/* Arms up, waste down */

.shopnow-container {
  display: flex;  
  min-width: 200px;
  max-width: 100%;
}

.shopnow-container img{
  height: auto;
  width: 700px;
  display: flex;
}

.shopnow-info{
 padding-left: 3rem;
 
 width: 60%;
 line-height: 1.6;

}


.shopnow-box {
  margin: auto 0;
  font-family: Gelica, Georgia, system-ui;
  padding: 75px;
  
}




.shopnow-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #F8AE3B;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
}

.shopnow-title{
  font-size: 36px;
  font-weight: bold;
}




@media (max-width: 800px) {
#right-main-img {
  display: none;
}
.nav-list {
display:none;
}

.nav-button {
  display:none;
}


.mobile-menu {
  display: inline-block;
  padding-right: 20px;
  padding-top: 20px
  
}
.tagline {
  
}
}
footer {
  text-align: center;
}